footer {
  background-color: #000;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* remove this property after adding homepage */
}

footer div {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: #fff !important;
  font-size: 2rem;
}

footer p {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}
