.scroll-products {
  display: flex;
  gap: 2rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.products-trending {
  border: gray solid 1px;
  transition: all 0.2s ease-in-out;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-img-trending {
  max-width: 20rem;
  height: 20rem;
  padding: 2rem;
}

.product-name-trending {
  white-space: nowrap;
  font-size: 2rem;
  text-align: left;
}
